body,html,*{
    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(225deg, #25c5a7 0%,#2c9cdd 100%);
}

.whay {
    color: white;
    font-weight: bold;
    font-size: 3.5em;
    line-height: 0.9;
}

.contant-header {
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top:80px;
}

.header {
    margin: 0 auto;
}

#container {
    margin: 0 0;
    padding: 20px;
}
